{% block body%}
<body>

<h1 id="titolEquip"> Dades Equip </h1>

<div class="paragrafEquip">
<p> Projecte 2n Daw<br/></p>
<h2 id="titol-imatge-equips">Imatge Equip</h2>

{% if equip %}

<img class="imatgeEquip" src=" {{ asset('BizLand/assets/img/'~ equip.imatge) }}"/>

 <ul class="llistatEquip">
            <li><strong>{{ equip.nom }}</strong></li>
            <li><strong>Cicle</strong>: {{ equip.cicle }}</li>
            <li><strong>Curs</strong>: {{ equip.curs }}</li>
            <li><strong>Membres</strong>:
                <ul class="llistatMiembros">
                    {% for membre in equip.membres %}
                        <li>{{ membre }}</li>
                    {% endfor %}
                </ul>
            </li>

    </ul>
</div>

{% endif %}

<p class="paragrafEquip">
<img class="imatgeXicoteta" src=" {{ asset('BizLand/assets/img/casiua.jpg') }}"/>
<a href="{{path('inici')}}">Tornar a l'inici</a>

</p>

</body>
{% endblock %}